body {
    background-color: #022b3a;
    font-family: 'bebas neue', sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

header {
   background-color:white;
   display: flex;
   justify-content: space-between;
   padding: 5px;
}

li, a {
    list-style: none;
    margin: 0 10px;
    color: #022b3a;
    text-decoration: none;
}

ul.Menu {
    display: flex;

}
a:hover {

    text-decoration: underline;
}

div.fond {
background-repeat: no-repeat;
display: flex;
justify-content: center;
width: 100vw;
height: 100vh;
background-size: 100% 100%;
}

img.logo_site {
max-height: 100px;
}
