body {
    background-color: #022b3a;
}

header {
   background-color: #333;
   display: flex;
   justify-content: space-between;
   padding: 20px;
}

li, a {
    list-style: none;
}

ul.Menu {
    display: flex;

}