body {
    background-color: #022b3a;
    font-family: 'bebas neue', sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

header {
   background-color:white;
   display: flex;
   justify-content: space-between;
   padding: 5px;
}

li, a {
    list-style: none;
    margin: 0 10px;
    color: #022b3a;
    text-decoration: none;
}

ul.Menu {
    display: flex;

}
a:hover {

    text-decoration: underline;
}
img.logo_site {
max-height: 100px;
}

.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(assets/pexels-pixabay-4158.jpg);
    background-size: cover;
}

.réseaux {
    font-family: 'Impact', cursive;
    font-size: 40px;
    color: white;
    padding: 15px;
}

.boutton button {
    background-color: #022b3a;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
}

.boutton button:hover {
    background-color: #00bbff;
}

.tarifs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Impact', cursive;
    color: white ;
}
.tarifs_1 {
    margin: 25px;
    box-shadow: #19404e;
    border: white 5px solid;
    padding: 25px;
    border-radius: 10px;
}
.tarifs_2 {
    margin: 25px;
    box-shadow: #19404e;
    border: white 5px solid;
    padding: 25px;
    border-radius: 10px;
}
.tarifs_3 {
    margin: 25px;
    box-shadow: #19404e;
    border: white 5px solid;
    padding: 25px;
    border-radius: 10px;
}