body {
    background-color: #022b3a;
    font-family: 'bebas neue', sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

header {
   background-color: #333;
   display: flex;
   justify-content: space-between;
   padding: 20px;
}

li, a {
    list-style: none;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

ul.Menu {
    display: flex;

}
a:hover {

    text-decoration: underline;
}
